/* CSS declarations go here */
.square{
    float:left;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    font-size:50px;
    line-height:80px;
}

.black{
    background-color: grey;
}

.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}

.chessTable{
    width:640px;
}